
body,
html{
  margin: 0;
  padding: 0;
}

body {
  background: #EEEEEE;
  font-family: 'Lato', sans-serif;
}

#list ol {
  list-style: none;
}
#list ol li {
  counter-increment: item;
  margin-bottom: 20px;
  position: relative;
  padding-left: 50px
}
#list ol li:before {
  content: counter(item);
  color: #D7D7D7;
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 25px;
  z-index: 1;
}
#list ol li>a {
  display: block;
  float: left;
  width: 180px;
}
#list ol li>a img {
  width: 180px;
}
#list ol li>div {
  padding-left: 186px;
  text-align: center;
}
#list ol li>div .title {
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 20px;
}
#list ol li>div hr {
  border: 2px solid #EB3324;
  width: 60px;
  margin: auto;
}
#list ol li>div .release,
#list ol li>div .popularity,
#list ol li>div .link {
  font-weight: bold;
  font-style: italic;
  color: #9A999A;
}
#list ol li>div .link {
  color: #EB3324;
  text-decoration: none;
}
#list ol li>div .release::before {
  content: 'Release Date: ';
}
#list ol li>div .popularity::before {
  content: 'Popularity: ';
}
#list ol li>div .link::before {
  content: 'Link: ';
  color: #9A999A;
}

.clr {
  clear: both;
}


@media (max-width: 1023px) and (min-width: 760px) {
  #list ol li{
    display: block;
    float: left;
    width: 50%;
    margin: 0;
    box-sizing: border-box;
    height: 600px;
  }
  #list ol li>a {
    display: block;
    float: none;
    width: auto;
    text-align: center;
  }
  #list ol li>a img {
    display: inline-block;
    float: none;
  }
  #list ol li .overview {
    height: 100px;
    overflow: hidden;
  }
  #list ol li>div{
    display: block;
    float: none;
    padding-left: 0;
  }
}

@media (max-width: 1679px) and (min-width: 1024px) {
  #main-nav aside {
    float: left;
    width: 200px;
  }
  #list ol{
    margin-left: 260px;
  }
  #list ol li{
    display: block;
    float: left;
    width: 50%;
    margin: 0;
    box-sizing: border-box;
    height: 600px;
  }
  #list ol li>a {
    display: block;
    float: none;
    width: auto;
    text-align: center;
  }
  #list ol li>a img {
    display: inline-block;
    float: none;
  }
  #list ol li .overview {
    height: 100px;
    overflow: hidden;
  }
  #list ol li>div{
    display: block;
    float: none;
    padding-left: 0;
  }
}


@media (min-width: 1680px) {
  #main-nav aside {
    float: left;
    width: 200px;
  }
  #list ol{
    margin-left: 260px;
  }
  #list ol li{
    display: block;
    float: left;
    width: 32%;
    margin: 0;
    box-sizing: border-box;
    height: 600px;
  }
  #list ol li .overview {
    height: 100px;
    overflow: hidden;
  }
  #list ol li>a {
    display: block;
    float: none;
    width: auto;
    text-align: center;
  }
  #list ol li>a img {
    display: inline-block;
    float: none;
  }
  #list ol li>div{
    display: block;
    float: none;
    padding-left: 0;
  }
}
